**/__pycache__/
.direnv/
.vscode/
.envrc
.env

temp_scripts/
sample_dicom/
sample_output/
sample_dicom_input/
sample_dicom_output/
sample_excel.xlsx
data_sheet.xlsx

read_slice.py
practice.py
analyze_to_dicom.py
analyze_and_nii_to_dicom.py
test.py
dicom_deidentifier_temp.py

dicom_deidentifier.log
dicom_header_output.txt

COVID_CTs_20210513CarissaWalter_0515jc.xlsx
COVID_CTs_20210513CarissaWalter_0608jc.xlsx
DataSheet.xlsx

carisa_datasheet.xlsx
choilab_datasheet.xlsx

dicom_metadata_all.csv
dicom_metadata_selected.csv

metadata_log
token.json